<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<form method="post" >
    <div class="ingredient-list">
        <h3> Choose pizza dough:</h3>
    <div th:each="doughsTh:${pizzaDough}">
        <label>
            <input name="doughType" type="radio" th:value="${doughsTh}"/>
        </label>
        <span th:text="${doughsTh.getDough().name()}"></span>
    </div>
    </div>

    <div class="ingredient-list">
        <h3> Choose sauce:</h3>
    <div th:each="saucesTh:${sauces}">
        <label>
            <input name="sauceType" type="radio" th:value="${saucesTh}"/>
        </label>
        <span th:text="${saucesTh.getSauceType()}"></span>
    </div>
        </div>

    <div class="ingredient-list">
        <h3> Choose cheese:</h3>
    <div th:each="cheesesTh:${cheeses}">
        <label>
            <input name="cheeseType" type="radio" th:value="${cheesesTh}"/>
        </label>
        <span th:text="${cheesesTh.getCheeseType()}"></span>
    </div>
        </div>

    <div class="ingredient-list">
        <h3> Choose meat:</h3>
    <div th:each="meatsTh:${meats}">
        <label>
            <input name="meatType" type="radio" th:value="${meatsTh}"/>
        </label>
        <span th:text="${meatsTh.getMeatType()}"></span>
    </div>
        </div>
    <button> Order now </button>
</form>

</body>
</html>