<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<form method="post" >
    <div class="ingredient-list">
        <h3> Choose pizza dough:</h3>
    <div th:each="doughs:${pizzaDough}">
        <label>
            <input name="dough" type="radio" th:value="${doughs.name()}"/>
        </label>
        <span th:text="${doughs.name()}"></span>
    </div>
    </div>

    <div class="ingredient-list">
        <h3> Choose sauce:</h3>
    <div th:each="saucesTh:${sauces}">
        <label>
            <input name="sauce" type="radio" th:value="${saucesTh.name()}"/>
        </label>
        <span th:text="${saucesTh.name()}"></span>
    </div>
        </div>

    <div class="ingredient-list">
        <h3> Choose cheese:</h3>
    <div th:each="cheesesTh:${cheeses}">
        <label>
            <input name="cheeseType" type="radio" th:value="${cheesesTh.name()}"/>
        </label>
        <span th:text="${cheesesTh.name()}"></span>
    </div>
        </div>

    <div class="ingredient-list">
        <h3> Choose meat:</h3>
    <div th:each="meatsTh:${meats}">
        <label>
            <input name="meatType" type="radio" th:value="${meatsTh.name()}"/>
        </label>
        <span th:text="${meatsTh.name()}"></span>
    </div>
        </div>
    <button> Order now </button>
</form>

</body>
</html>